<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

  <!-- Make sure Laravel handles all requests -->
    <modules runAllManagedModulesForAllRequests="true" />

    <rewrite>
      <rules>
        <rule name="Laravel" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
    <handlers>
        <add name="PHP_via_FastCGI2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php-8.3.26\php-cgi.exe" resourceType="Either" requireAccess="Script" />
    </handlers>

    <!-- Allow DELETE, PUT, OPTIONS verbs -->
    <security>
        <requestFiltering>
            <!-- Max length in bytes (example: 300MB = 300 * 1024 * 1024) -->
            <requestLimits maxAllowedContentLength="314572800" />
            <verbs allowUnlisted="true">
              <add verb="DELETE" allowed="true" />
              <add verb="PUT" allowed="true" />
              <add verb="OPTIONS" allowed="true" />
            </verbs>
        </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>
